jbtiotdata/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "jbtiotdata"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"CosmosDb1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDb1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://jbtiotstore.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDb1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDb1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "rotary_sampleDataPLC.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_type_text",
						"type": "String"
					},
					{
						"name": "oc_left_pins_remaining",
						"type": "String"
					},
					{
						"name": "ic_right_inject_settings_ms_of_lube",
						"type": "String"
					},
					{
						"name": "oc_left_numshortms",
						"type": "String"
					},
					{
						"name": "ic_right_pins_remaining",
						"type": "String"
					},
					{
						"name": "ic_left_psi",
						"type": "String"
					},
					{
						"name": "oc_left_lube_sched_use_tod",
						"type": "String"
					},
					{
						"name": "ic_right_lube_sched_start_auto",
						"type": "String"
					},
					{
						"name": "machineruntimehrs",
						"type": "String"
					},
					{
						"name": "oc_right_lube_cycles_per_sched",
						"type": "String"
					},
					{
						"name": "ic_left_numhighpsi",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_psi_min_of_lube",
						"type": "String"
					},
					{
						"name": "oc_left_inject_settings_release_delay",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.9",
						"type": "String"
					},
					{
						"name": "oc_numtotalerrors",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.6",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.5",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.8",
						"type": "String"
					},
					{
						"name": "oc_right_lube_cycles_remaining",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.7",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.2",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.1",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.4",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.3",
						"type": "String"
					},
					{
						"name": "oc_left_inject_status_result",
						"type": "String"
					},
					{
						"name": "alrmbitsmisc.3",
						"type": "String"
					},
					{
						"name": "oc_right_inject_settings_pause_delay",
						"type": "String"
					},
					{
						"name": "alrmbitsmisc.2",
						"type": "String"
					},
					{
						"name": "alrmbitsmisc.1",
						"type": "String"
					},
					{
						"name": "alrmbitsmisc.0",
						"type": "String"
					},
					{
						"name": "ic_left_flight_num",
						"type": "String"
					},
					{
						"name": "ai_ptx115_bar",
						"type": "String"
					},
					{
						"name": "iops_13",
						"type": "String"
					},
					{
						"name": "iops_14",
						"type": "String"
					},
					{
						"name": "iops_15",
						"type": "String"
					},
					{
						"name": "iops_16",
						"type": "String"
					},
					{
						"name": "ic_right_lube_cycles_per_sched",
						"type": "String"
					},
					{
						"name": "oc_left_lube_sched_next_count",
						"type": "String"
					},
					{
						"name": "iops_17",
						"type": "String"
					},
					{
						"name": "iops_18",
						"type": "String"
					},
					{
						"name": "iops_19",
						"type": "String"
					},
					{
						"name": "iops_10",
						"type": "String"
					},
					{
						"name": "iops_11",
						"type": "String"
					},
					{
						"name": "iops_12",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.0",
						"type": "String"
					},
					{
						"name": "oc_right_numlowpsi",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_type_tmp",
						"type": "String"
					},
					{
						"name": "ic_left_numsledlimits",
						"type": "String"
					},
					{
						"name": "ic_right_lube_cycles_remaining",
						"type": "String"
					},
					{
						"name": "iops_7",
						"type": "String"
					},
					{
						"name": "iops_6",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_start_min",
						"type": "String"
					},
					{
						"name": "iops_9",
						"type": "String"
					},
					{
						"name": "iops_8",
						"type": "String"
					},
					{
						"name": "iops_3",
						"type": "String"
					},
					{
						"name": "iops_2",
						"type": "String"
					},
					{
						"name": "ic_right_numlowpsi",
						"type": "String"
					},
					{
						"name": "iops_5",
						"type": "String"
					},
					{
						"name": "iops_4",
						"type": "String"
					},
					{
						"name": "ic_right_numtotalerrors",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_month_lubed",
						"type": "String"
					},
					{
						"name": "iops_1",
						"type": "String"
					},
					{
						"name": "iops_0",
						"type": "String"
					},
					{
						"name": "ai_ptx615_bar",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.15",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.16",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.17",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.18",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_day_lubed",
						"type": "String"
					},
					{
						"name": "ic_right_inject_settings_release_delay",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_lubed_error_count",
						"type": "String"
					},
					{
						"name": "oc_left_lube_cycles_remaining",
						"type": "String"
					},
					{
						"name": "iops_35",
						"type": "String"
					},
					{
						"name": "iops_36",
						"type": "String"
					},
					{
						"name": "iops_37",
						"type": "String"
					},
					{
						"name": "iops_38",
						"type": "String"
					},
					{
						"name": "iops_39",
						"type": "String"
					},
					{
						"name": "ic_right_lube_sched_use_tod",
						"type": "String"
					},
					{
						"name": "iops_30",
						"type": "String"
					},
					{
						"name": "iops_31",
						"type": "String"
					},
					{
						"name": "iops_32",
						"type": "String"
					},
					{
						"name": "iops_33",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_psi_avg_of_lube",
						"type": "String"
					},
					{
						"name": "iops_34",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_ms_of_lube",
						"type": "String"
					},
					{
						"name": "oc_left_numhighpsi",
						"type": "String"
					},
					{
						"name": "ai_rtd100_c",
						"type": "String"
					},
					{
						"name": "oc_right_pins_remaining",
						"type": "String"
					},
					{
						"name": "ic_left_lube_cycles_per_sched",
						"type": "String"
					},
					{
						"name": "iops_24",
						"type": "String"
					},
					{
						"name": "iops_25",
						"type": "String"
					},
					{
						"name": "iops_26",
						"type": "String"
					},
					{
						"name": "iops_27",
						"type": "String"
					},
					{
						"name": "iops_28",
						"type": "String"
					},
					{
						"name": "iops_29",
						"type": "String"
					},
					{
						"name": "ic_left_pins_remaining",
						"type": "String"
					},
					{
						"name": "iops_20",
						"type": "String"
					},
					{
						"name": "iops_21",
						"type": "String"
					},
					{
						"name": "oc_left_lube_schedule_type",
						"type": "String"
					},
					{
						"name": "iops_22",
						"type": "String"
					},
					{
						"name": "iops_23",
						"type": "String"
					},
					{
						"name": "ic_right_lube_sched_next_count",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.3",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_ms_of_lube",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.2",
						"type": "String"
					},
					{
						"name": "oc_right_inject_settings_ms_of_lube",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.1",
						"type": "String"
					},
					{
						"name": "oc_chain_speed",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.0",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_status",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_next_count",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.6",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.5",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_200.4",
						"type": "String"
					},
					{
						"name": "iops_57",
						"type": "String"
					},
					{
						"name": "iops_58",
						"type": "String"
					},
					{
						"name": "iops_59",
						"type": "String"
					},
					{
						"name": "iops_50",
						"type": "String"
					},
					{
						"name": "iops_51",
						"type": "String"
					},
					{
						"name": "iops_52",
						"type": "String"
					},
					{
						"name": "iops_53",
						"type": "String"
					},
					{
						"name": "iops_54",
						"type": "String"
					},
					{
						"name": "iops_55",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_use_tod",
						"type": "String"
					},
					{
						"name": "iops_56",
						"type": "String"
					},
					{
						"name": "oc_left_inject_settings_inject_delay",
						"type": "String"
					},
					{
						"name": "oc_right_lube_sched_start_auto",
						"type": "String"
					},
					{
						"name": "oc_left_flight_num",
						"type": "String"
					},
					{
						"name": "ic_left_numshortms",
						"type": "String"
					},
					{
						"name": "oc_left_numtotalerrors",
						"type": "String"
					},
					{
						"name": "oc_right_lube_sched_use_tod",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_month_lubed",
						"type": "String"
					},
					{
						"name": "iops_46",
						"type": "String"
					},
					{
						"name": "iops_47",
						"type": "String"
					},
					{
						"name": "iops_48",
						"type": "String"
					},
					{
						"name": "iops_49",
						"type": "String"
					},
					{
						"name": "iops_40",
						"type": "String"
					},
					{
						"name": "iops_41",
						"type": "String"
					},
					{
						"name": "iops_42",
						"type": "String"
					},
					{
						"name": "oc_left_inject_settings_ms_of_lube",
						"type": "String"
					},
					{
						"name": "iops_43",
						"type": "String"
					},
					{
						"name": "iops_44",
						"type": "String"
					},
					{
						"name": "iops_45",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_psi_min_of_lube",
						"type": "String"
					},
					{
						"name": "ic_left_lube_schedule_type",
						"type": "String"
					},
					{
						"name": "iops_79",
						"type": "String"
					},
					{
						"name": "iops_71",
						"type": "String"
					},
					{
						"name": "oc_right_numsledlimits",
						"type": "String"
					},
					{
						"name": "iops_72",
						"type": "String"
					},
					{
						"name": "iops_73",
						"type": "String"
					},
					{
						"name": "ai_rtd230_c",
						"type": "String"
					},
					{
						"name": "iops_74",
						"type": "String"
					},
					{
						"name": "iops_75",
						"type": "String"
					},
					{
						"name": "iops_76",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_day_lubed",
						"type": "String"
					},
					{
						"name": "iops_77",
						"type": "String"
					},
					{
						"name": "ic_left_inject_settings_release_delay",
						"type": "String"
					},
					{
						"name": "iops_78",
						"type": "String"
					},
					{
						"name": "ic_chain_speed",
						"type": "String"
					},
					{
						"name": "iops_70",
						"type": "String"
					},
					{
						"name": "ic_left_inject_settings_inject_delay",
						"type": "String"
					},
					{
						"name": "iops_68",
						"type": "String"
					},
					{
						"name": "iops_69",
						"type": "String"
					},
					{
						"name": "iops_60",
						"type": "String"
					},
					{
						"name": "iops_61",
						"type": "String"
					},
					{
						"name": "iops_62",
						"type": "String"
					},
					{
						"name": "iops_63",
						"type": "String"
					},
					{
						"name": "iops_64",
						"type": "String"
					},
					{
						"name": "iops_65",
						"type": "String"
					},
					{
						"name": "iops_66",
						"type": "String"
					},
					{
						"name": "iops_67",
						"type": "String"
					},
					{
						"name": "ic_right_psi",
						"type": "String"
					},
					{
						"name": "ai_rtd630_c",
						"type": "String"
					},
					{
						"name": "ai_rtd110_c",
						"type": "String"
					},
					{
						"name": "can_state",
						"type": "String"
					},
					{
						"name": "ic_right_numhighpsi",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_start_auto",
						"type": "String"
					},
					{
						"name": "iops_93",
						"type": "String"
					},
					{
						"name": "iops_94",
						"type": "String"
					},
					{
						"name": "iops_95",
						"type": "String"
					},
					{
						"name": "iops_96",
						"type": "String"
					},
					{
						"name": "ic_right_inject_settings_inject_delay",
						"type": "String"
					},
					{
						"name": "iops_97",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.20",
						"type": "String"
					},
					{
						"name": "iops_98",
						"type": "String"
					},
					{
						"name": "iops_99",
						"type": "String"
					},
					{
						"name": "oc_right_psi",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.24",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.23",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.20",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.22",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.21",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.28",
						"type": "String"
					},
					{
						"name": "iops_90",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.27",
						"type": "String"
					},
					{
						"name": "iops_91",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.26",
						"type": "String"
					},
					{
						"name": "iops_92",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_psi_avg_of_lube",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.25",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.25",
						"type": "String"
					},
					{
						"name": "ai_rtd120_c",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.26",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_result",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.23",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.24",
						"type": "String"
					},
					{
						"name": "ai_rtd105_c",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.21",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.22",
						"type": "String"
					},
					{
						"name": "ic_left_inject_settings_ms_of_lube",
						"type": "String"
					},
					{
						"name": "percent_left_pins_in_alarm",
						"type": "String"
					},
					{
						"name": "iops_82",
						"type": "String"
					},
					{
						"name": "iops_83",
						"type": "String"
					},
					{
						"name": "iops_84",
						"type": "String"
					},
					{
						"name": "iops_85",
						"type": "String"
					},
					{
						"name": "iops_86",
						"type": "String"
					},
					{
						"name": "iops_87",
						"type": "String"
					},
					{
						"name": "ic_right_numshortms",
						"type": "String"
					},
					{
						"name": "iops_88",
						"type": "String"
					},
					{
						"name": "oc_left_inject_settings_pause_delay",
						"type": "String"
					},
					{
						"name": "ic_left_lube_cycles_remaining",
						"type": "String"
					},
					{
						"name": "iops_89",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.30",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.3",
						"type": "String"
					},
					{
						"name": "oc_left_lube_sched_start_hour",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.2",
						"type": "String"
					},
					{
						"name": "oc_left_lube_cycles_per_sched",
						"type": "String"
					},
					{
						"name": "iops_80",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.1",
						"type": "String"
					},
					{
						"name": "iops_81",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.0",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.7",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.6",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.5",
						"type": "String"
					},
					{
						"name": "oc_right_lube_sched_next_count",
						"type": "String"
					},
					{
						"name": "oc_left_lube_sched_start_min",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.9",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.8",
						"type": "String"
					},
					{
						"name": "ic_right_numsledlimits",
						"type": "String"
					},
					{
						"name": "ic_left_lube_sched_start_hour",
						"type": "String"
					},
					{
						"name": "ai_ptx215_bar",
						"type": "String"
					},
					{
						"name": "infeedrunning",
						"type": "String"
					},
					{
						"name": "oc_right_inject_settings_release_delay",
						"type": "String"
					},
					{
						"name": "ic_left_inject_settings_pause_delay1",
						"type": "String"
					},
					{
						"name": "ai_reelspeed_cpm",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.18",
						"type": "String"
					},
					{
						"name": "oc_right_inject_settings_inject_delay",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.19",
						"type": "String"
					},
					{
						"name": "oc_left_lube_sched_start_auto",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.3",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.13",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.4",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.12",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.11",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.1",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.10",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.2",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.7",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.17",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.16",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.15",
						"type": "String"
					},
					{
						"name": "opc_ua_state",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.5",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.14",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.6",
						"type": "String"
					},
					{
						"name": "oc_left_numsledlimits",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.16",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.17",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.19",
						"type": "String"
					},
					{
						"name": "ic_left_numtotalerrors",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_100.18",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.12",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.0",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.10",
						"type": "String"
					},
					{
						"name": "alrmbitsmaindrive.11",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.10",
						"type": "String"
					},
					{
						"name": "alrmbitsfeeddrive.1",
						"type": "String"
					},
					{
						"name": "alrmbitsfeeddrive.0",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.14",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.13",
						"type": "String"
					},
					{
						"name": "chain_speed_avg",
						"type": "String"
					},
					{
						"name": "oc_right_numtotalerrors",
						"type": "String"
					},
					{
						"name": "ic_right_inject_settings_pause_delay1",
						"type": "String"
					},
					{
						"name": "ic_flights_in_error2",
						"type": "String"
					},
					{
						"name": "ic_flights_in_error1",
						"type": "String"
					},
					{
						"name": "ic_right_inject_status_lubed_error_count",
						"type": "String"
					},
					{
						"name": "ic_flights_in_error4",
						"type": "String"
					},
					{
						"name": "ic_flights_in_error3",
						"type": "String"
					},
					{
						"name": "oc_right_numhighpsi",
						"type": "String"
					},
					{
						"name": "ic_flights_in_error5",
						"type": "String"
					},
					{
						"name": "ai_rtd640_c",
						"type": "String"
					},
					{
						"name": "oc_flights_in_error5",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.18",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.17",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.16",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.19",
						"type": "String"
					},
					{
						"name": "ic_left_numlowpsi",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.21",
						"type": "String"
					},
					{
						"name": "alrmbitsshl_600.20",
						"type": "String"
					},
					{
						"name": "ai_rtd240_c",
						"type": "String"
					},
					{
						"name": "oc_flights_in_error1",
						"type": "String"
					},
					{
						"name": "oc_flights_in_error2",
						"type": "String"
					},
					{
						"name": "oc_flights_in_error3",
						"type": "String"
					},
					{
						"name": "oc_flights_in_error4",
						"type": "String"
					},
					{
						"name": "oc_left_numlowpsi",
						"type": "String"
					},
					{
						"name": "oc_right_numshortms",
						"type": "String"
					},
					{
						"name": "ic_left_inject_status_status",
						"type": "String"
					},
					{
						"name": "ai_rtd115_c",
						"type": "String"
					},
					{
						"name": "oc_left_psi",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "sampledatapla"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwBasket.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_out_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_batch_id",
						"type": "String"
					},
					{
						"name": "production_waiting_for_empty_baskets",
						"type": "String"
					},
					{
						"name": "production_waiting_for_full_baskets",
						"type": "String"
					},
					{
						"name": "current_baskets_load_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_it",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_tray_type",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_loader",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_last_update",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_layers",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_fill_time",
						"type": "String"
					},
					{
						"name": "current_baskets_basket_lifecycle",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_sku",
						"type": "String"
					},
					{
						"name": "current_baskets_basket_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_entry",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_lifecycle",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_in_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_status",
						"type": "String"
					},
					{
						"name": "current_baskets_batch_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unloader",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "Basket"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwBatches.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "batches_retort_cycle",
						"type": "String"
					},
					{
						"name": "batches_cool_end",
						"type": "String"
					},
					{
						"name": "batches_cut_end",
						"type": "String"
					},
					{
						"name": "batches_completed",
						"type": "String"
					},
					{
						"name": "batches_ret_start_load",
						"type": "String"
					},
					{
						"name": "batches_sku",
						"type": "String"
					},
					{
						"name": "batches_ret_end_load",
						"type": "String"
					},
					{
						"name": "batches_cut_start",
						"type": "String"
					},
					{
						"name": "batches_ret_start_unload",
						"type": "String"
					},
					{
						"name": "batches_cool_start",
						"type": "String"
					},
					{
						"name": "batches_batch_id",
						"type": "String"
					},
					{
						"name": "batches_retort",
						"type": "String"
					},
					{
						"name": "batches_process_end",
						"type": "String"
					},
					{
						"name": "batches_restarted",
						"type": "String"
					},
					{
						"name": "batches_process_start",
						"type": "String"
					},
					{
						"name": "batches_ret_end_unload",
						"type": "String"
					},
					{
						"name": "batches_aborted",
						"type": "String"
					},
					{
						"name": "batches_reviewed_on",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "Batches"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwiOPS1.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_out_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_batch_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_it",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_tray_type",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_loader",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_last_update",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_layers",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_fill_time",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_sku",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_entry",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_lifecycle",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_in_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_status",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unloader",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "OPS1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwProduction2.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "production_unloader_in_alarm",
						"type": "String"
					},
					{
						"name": "production_unloader_in_auto",
						"type": "String"
					},
					{
						"name": "production_waiting_for_empty_baskets",
						"type": "String"
					},
					{
						"name": "production_waiting_for_full_baskets",
						"type": "String"
					},
					{
						"name": "production_start_of_production",
						"type": "String"
					},
					{
						"name": "production_production_id",
						"type": "String"
					},
					{
						"name": "production_end_of_production",
						"type": "String"
					},
					{
						"name": "production_waiting_for_downstream",
						"type": "String"
					},
					{
						"name": "production_loader_in_auto",
						"type": "String"
					},
					{
						"name": "production_containers_loaded",
						"type": "String"
					},
					{
						"name": "production_mhs",
						"type": "String"
					},
					{
						"name": "production_loader_in_alarm",
						"type": "String"
					},
					{
						"name": "production_time_entered",
						"type": "String"
					},
					{
						"name": "production_sku",
						"type": "String"
					},
					{
						"name": "production_containers_unloaded",
						"type": "String"
					},
					{
						"name": "production_waiting_for_product",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "Production"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwSKU.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "sku_container_type",
						"type": "String"
					},
					{
						"name": "sku_num_of_layers",
						"type": "String"
					},
					{
						"name": "sku_recipe_nr",
						"type": "String"
					},
					{
						"name": "sku_layer_length",
						"type": "String"
					},
					{
						"name": "sku_active",
						"type": "String"
					},
					{
						"name": "sku_sku",
						"type": "String"
					},
					{
						"name": "sku_max_dwell",
						"type": "String"
					},
					{
						"name": "sku_containers_per_layer",
						"type": "String"
					},
					{
						"name": "sku_min_process",
						"type": "String"
					},
					{
						"name": "sku_sku_descr",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "SKU"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sampledataplc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sampledataplcrotatory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copydatamisc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Basket",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Batches",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Basket",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OPS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Batches",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Production",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SKU",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Production",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText6",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection6",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection2')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection3')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText4')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection4')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText5')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection5')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText6')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection6')]"
			]
		}
	]
}