jbtiotdata/PartialArmTemplates/ArmTemplate_10_3_2019_16_19_30.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "jbtiotdata"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/copydatamisc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Basket",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection2",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Batches",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Basket",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection3",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OPS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Batches",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection4",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Production",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection5",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "SKU",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Production",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText6",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DocumentDbCollection6",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection2')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection3')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText4')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection4')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText5')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection5')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText6')]",
				"[concat(variables('factoryId'), '/datasets/DocumentDbCollection6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwBasket.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_out_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_batch_id",
						"type": "String"
					},
					{
						"name": "production_waiting_for_empty_baskets",
						"type": "String"
					},
					{
						"name": "production_waiting_for_full_baskets",
						"type": "String"
					},
					{
						"name": "current_baskets_load_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_it",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_tray_type",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_loader",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_last_update",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_layers",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_fill_time",
						"type": "String"
					},
					{
						"name": "current_baskets_basket_lifecycle",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_sku",
						"type": "String"
					},
					{
						"name": "current_baskets_basket_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_entry",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_lifecycle",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_in_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_status",
						"type": "String"
					},
					{
						"name": "current_baskets_batch_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unloader",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "Basket"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwBatches.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "batches_retort_cycle",
						"type": "String"
					},
					{
						"name": "batches_cool_end",
						"type": "String"
					},
					{
						"name": "batches_cut_end",
						"type": "String"
					},
					{
						"name": "batches_completed",
						"type": "String"
					},
					{
						"name": "batches_ret_start_load",
						"type": "String"
					},
					{
						"name": "batches_sku",
						"type": "String"
					},
					{
						"name": "batches_ret_end_load",
						"type": "String"
					},
					{
						"name": "batches_cut_start",
						"type": "String"
					},
					{
						"name": "batches_ret_start_unload",
						"type": "String"
					},
					{
						"name": "batches_cool_start",
						"type": "String"
					},
					{
						"name": "batches_batch_id",
						"type": "String"
					},
					{
						"name": "batches_retort",
						"type": "String"
					},
					{
						"name": "batches_process_end",
						"type": "String"
					},
					{
						"name": "batches_restarted",
						"type": "String"
					},
					{
						"name": "batches_process_start",
						"type": "String"
					},
					{
						"name": "batches_ret_end_unload",
						"type": "String"
					},
					{
						"name": "batches_aborted",
						"type": "String"
					},
					{
						"name": "batches_reviewed_on",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "Batches"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwiOPS1.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_out_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_batch_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_it",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_tray_type",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_loader",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_last_update",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_layers",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_fill_time",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_sku",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_end",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_process_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_load_start",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unload_entry",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_lifecycle",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_id",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_in_retort",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_basket_status",
						"type": "String"
					},
					{
						"name": "basket_lifecycles_unloader",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "OPS1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwProduction2.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "production_unloader_in_alarm",
						"type": "String"
					},
					{
						"name": "production_unloader_in_auto",
						"type": "String"
					},
					{
						"name": "production_waiting_for_empty_baskets",
						"type": "String"
					},
					{
						"name": "production_waiting_for_full_baskets",
						"type": "String"
					},
					{
						"name": "production_start_of_production",
						"type": "String"
					},
					{
						"name": "production_production_id",
						"type": "String"
					},
					{
						"name": "production_end_of_production",
						"type": "String"
					},
					{
						"name": "production_waiting_for_downstream",
						"type": "String"
					},
					{
						"name": "production_loader_in_auto",
						"type": "String"
					},
					{
						"name": "production_containers_loaded",
						"type": "String"
					},
					{
						"name": "production_mhs",
						"type": "String"
					},
					{
						"name": "production_loader_in_alarm",
						"type": "String"
					},
					{
						"name": "production_time_entered",
						"type": "String"
					},
					{
						"name": "production_sku",
						"type": "String"
					},
					{
						"name": "production_containers_unloaded",
						"type": "String"
					},
					{
						"name": "production_waiting_for_product",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "Production"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "BTS_vwSKU.csv",
						"fileSystem": "incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "serial_number",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "date_partition",
						"type": "String"
					},
					{
						"name": "alias",
						"type": "String"
					},
					{
						"name": "sku_container_type",
						"type": "String"
					},
					{
						"name": "sku_num_of_layers",
						"type": "String"
					},
					{
						"name": "sku_recipe_nr",
						"type": "String"
					},
					{
						"name": "sku_layer_length",
						"type": "String"
					},
					{
						"name": "sku_active",
						"type": "String"
					},
					{
						"name": "sku_sku",
						"type": "String"
					},
					{
						"name": "sku_max_dwell",
						"type": "String"
					},
					{
						"name": "sku_containers_per_layer",
						"type": "String"
					},
					{
						"name": "sku_min_process",
						"type": "String"
					},
					{
						"name": "sku_sku_descr",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DocumentDbCollection6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "SKU"
				}
			},
			"dependsOn": []
		}
	]
}